In [1]:
# Importing the necessary libraries
import pandas as pd
import random as rd
import warnings
warnings.filterwarnings('ignore')

In [10]:
# Defining the paths and opening the data
path = "C:\\Users\\ritaf\\Documents\\ESTUDOS\\NOVA IMS\\3ยบ Ano\\Capstone Project\\Projeto\\data\\"
appointment = pd.read_csv(path + 'no_show.csv')
customer = pd.read_csv(path + 'customer_data.csv')
hdi = pd.read_excel(path + 'HDI.xls')

---------

#### Dealing with patient and appointment data

In [11]:
# Renaming column
appointment.rename(columns={'CountryofOriginHDI (Year-1)': 'CountryofOriginHDI'}, inplace=True)

In [12]:
# Selecting 150 random appointment observatios to merge with the customer data
appointment = appointment.sample(n=150, replace=False, random_state=42)

In [15]:
# Selecting ony the desired columns from the data
features = ['AppointmentID', 'AppointmentWeekNumber', 'AppointmentDayOfMonth', 'AppointmentHour', 'WeekendConsults', 'WeekdayConsults', 'Adults', 'Children', 'Babies', 'AffiliatedPatient', 'PreviousAppointments', 'PreviousNoShows', 'LastMinutesLate', 'OnlineBooking', 'AppointmentChanges', 'BookingToConsultDays', 'ParkingSpaceBooked', 'SpecialRequests', 'NoInsurance', 'ExtraExamsPerConsult', 'DoctorAssigned', 'ConsultPriceEuros', '%PaidinAdvance', 'CountryofOriginHDI', 'NoShow']
appointment = appointment.loc[:, features]
appointment.head()

,AppointmentID,AppointmentWeekNumber,AppointmentDayOfMonth,AppointmentHour,WeekendConsults,WeekdayConsults,Adults,Children,Babies,AffiliatedPatient,...,BookingToConsultDays,ParkingSpaceBooked,SpecialRequests,NoInsurance,ExtraExamsPerConsult,DoctorAssigned,ConsultPriceEuros,%PaidinAdvance,CountryofOriginHDI,NoShow
7900,29110,53,30,14.50,1,2,2,0.0,0,0,...,207,0,0,0,1,6,161.67,0.0,0.898,0
9861,29734,6,3,14.50,0,2,2,1.0,0,0,...,11,0,2,0,1,3,111.00,0.0,0.743,0
13194,23332,48,22,18.50,0,1,2,0.0,0,0,...,57,0,1,0,0,6,60.98,0.0,0.743,0
12912,39031,31,28,18.00,0,3,3,0.0,0,0,...,94,1,0,0,1,3,149.70,0.0,0.885,0
7583,13601,9,23,15.25,0,5,2,0.0,0,0,...,19,0,0,0,1,3,87.00,0.0,0.898,0

In [16]:
# Reseting the index to merge the appointment and customer data
appointment.reset_index(drop=True, inplace=True)

In [17]:
# Merging the appointment and customer data
complete = pd.concat([appointment, customer], axis=1)
complete

,AppointmentID,AppointmentWeekNumber,AppointmentDayOfMonth,AppointmentHour,WeekendConsults,WeekdayConsults,Adults,Children,Babies,AffiliatedPatient,...,ConsultPriceEuros,%PaidinAdvance,CountryofOriginHDI,NoShow,PatientID,FirstName,LastName,Email,Age,Username
0,29110,53,30,14.50,1,2,2,0.0,0,0,...,161.67,0.0,0.898,0,1,John,Doe,johndoe@email.com,35,johndoe35
1,29734,6,3,14.50,0,2,2,1.0,0,0,...,111.00,0.0,0.743,0,2,Jane,Smith,janesmith@email.com,28,janesmith28
2,23332,48,22,18.50,0,1,2,0.0,0,0,...,60.98,0.0,0.743,0,3,Robert,Johnson,robertjohnson@email.com,42,robjohn42
3,39031,31,28,18.00,0,3,3,0.0,0,0,...,149.70,0.0,0.885,0,4,Alice,Williams,alicewilliams@email.com,31,alicewilliams31
4,13601,9,23,15.25,0,5,2,0.0,0,0,...,87.00,0.0,0.898,0,5,Michael,Brown,michaelbrown@email.com,45,mikebrown45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,33439,35,24,19.75,0,4,3,0.0,0,0,...,150.30,0.0,0.876,1,146,Karen,Martin,karenmartin@email.com,45,karenm45
146,36165,6,4,18.75,0,2,1,0.0,0,0,...,71.00,0.0,0.842,0,147,Joseph,Anderson,josephanderson@email.com,36,josepha36
147,15098,42,15,14.00,2,1,2,0.0,0,0,...,106.30,0.0,0.933,0,148,Laura,Perez,lauraperez@email.com,31,laurap31
148,32410,18,24,23.50,2,2,2,2.0,0,0,...,203.50,0.0,0.898,1,149,William,Jones,williamjones@email.com,47,williamj47
149,33252,53,26,22.25,2,5,2,1.0,0,0,...,158.56,0.0,0.757,1,150,Mary,Hill,maryhill@email.com,32,maryh32

In [19]:
# Checking the whole set of columns
complete.columns

Index(['AppointmentID', 'AppointmentWeekNumber', 'AppointmentDayOfMonth',
       'AppointmentHour', 'WeekendConsults', 'WeekdayConsults', 'Adults',
       'Children', 'Babies', 'AffiliatedPatient', 'PreviousAppointments',
       'PreviousNoShows', 'LastMinutesLate', 'OnlineBooking',
       'AppointmentChanges', 'BookingToConsultDays', 'ParkingSpaceBooked',
       'SpecialRequests', 'NoInsurance', 'ExtraExamsPerConsult',
       'DoctorAssigned', 'ConsultPriceEuros', '%PaidinAdvance',
       'CountryofOriginHDI', 'NoShow', 'PatientID', 'FirstName', 'LastName',
       'Email', 'Age', 'Username'],
      dtype='object')

In [26]:
# Dividing the data into patients and appointments data
patients = complete[['Adults', 'AffiliatedPatient', 'Age', 'Babies', 'Children', 'CountryofOriginHDI', 'Email', 'ExtraExamsPerConsult', 'FirstName', 'LastMinutesLate', 'LastName', 'NoInsurance', 'PreviousAppointments', 'PreviousNoShows', 'Username', 'WeekdayConsults', 'WeekendConsults']]
appointments = complete[['%PaidinAdvance', 'AppointmentChanges', 'AppointmentDayOfMonth', 'AppointmentHour', 'AppointmentWeekNumber', 'BookingToConsultDays', 'ConsultPriceEuros', 'DoctorAssigned', 'NoShow', 'OnlineBooking', 'ParkingSpaceBooked', 'SpecialRequests', 'Username', 'AppointmentID']]

In [27]:
# Change the ordering of the appointment dataset rows and deleting the appointment ID column
appointments.sort_values(by=['AppointmentID'], inplace=True)
appointments.reset_index(drop=True, inplace=True)
appointments

,%PaidinAdvance,AppointmentChanges,AppointmentDayOfMonth,AppointmentHour,AppointmentWeekNumber,BookingToConsultDays,ConsultPriceEuros,DoctorAssigned,NoShow,OnlineBooking,ParkingSpaceBooked,SpecialRequests,Username,AppointmentID
0,0.00,0,28,17.00,27,2,139.00,6,1,1,0,0,karensc42,10088
1,0.00,0,11,20.00,46,101,144.45,3,0,1,0,2,georgec35,10247
2,0.00,0,20,14.50,13,0,0.00,-1,0,1,0,0,andrewk28,10457
3,0.59,1,13,15.75,47,113,79.00,6,1,1,0,0,margtaylor40,10502
4,0.00,0,8,22.25,28,52,132.90,6,1,1,0,0,susanl33,10659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,0.00,0,14,22.25,29,94,105.30,6,1,1,0,0,amywhite44,39028
146,0.00,0,28,18.00,31,94,149.70,3,0,1,1,0,alicewilliams31,39031
147,0.00,0,30,15.50,53,6,122.48,6,0,1,0,3,lindaw29,39576
148,0.00,0,22,21.25,9,22,108.00,3,0,1,0,1,markm32,39587
149,0.00,0,3,17.75,28,81,108.90,6,0,1,0,1,marthaf32,39979

In [28]:
# Export the DataFrame to a CSV file
appointments.to_csv(path + 'appointments.csv', index=True)
patients.to_csv(path + 'patients.csv', index=True)

-----------

#### Dealing with the Human Development Index data

In [29]:
# Creating a dictionary with the HDI values and the corresponding countries
hdi.dropna(inplace=True)
hdi = hdi.rename(columns={'Human Development Index (HDI) ': 'HDI'})
hdi = hdi.sort_values(by='Country')
hdi_dict = pd.Series(hdi['Country'].values, index=hdi['HDI']).to_dict()
hdi_dict

{0.4652642602075324: 'Afghanistan',
 0.7327658026416219: 'Albania',
 0.7356237671346453: 'Algeria',
 0.844641908378314: 'Andorra',
 0.5315914218243957: 'Angola',
 0.7833672643845292: 'Antigua and Barbuda',
 0.835572018229568: 'Argentina',
 0.7329825830446655: 'Armenia',
 0.9349582502222634: 'Australia',
 0.885027260021308: 'Austria',
 0.7511391735374136: 'Azerbaijan',
 0.789958059512219: 'Bahamas',
 0.8239219568122069: 'Bahrain',
 0.5700999744054498: 'Bangladesh',
 0.785458412902638: 'Barbados',
 0.7983665178925503: 'Belarus',
 0.8902629922371006: 'Belgium',
 0.7149822348117157: 'Belize',
 0.47963511040055773: 'Benin',
 0.6051845879492223: 'Bhutan',
 0.6618307642076453: 'Bolivia (Plurinational State of)',
 0.7325303258444873: 'Bosnia and Herzegovina',
 0.6979187426579699: 'Botswana',
 0.7552919558055562: 'Brazil',
 0.8556158646637168: 'Brunei Darussalam',
 0.7816753140802131: 'Bulgaria',
 0.40228757276205573: 'Burkina Faso',
 0.39992832853047416: 'Burundi',
 0.6462402725426258: 'Cabo Verde',
 0.554758321299132: 'Cambodia',
 0.5118065281385507: 'Cameroon',
 0.9131789844207281: 'Canada',
 0.35013106761746393: 'Central African Republic',
 0.39190571693842363: 'Chad',
 0.8321784772114089: 'Chile',
 0.727494941192669: 'China',
 0.7201703999717984: 'Colombia',
 0.5031835244234927: 'Comoros',
 0.590621540611831: 'Congo',
 0.43313535394693004: 'Congo (Democratic Republic of the)',
 0.7657469047001207: 'Costa Rica',
 0.8175398690131729: 'Croatia',
 0.7690111351263914: 'Cuba',
 0.8497454351049183: 'Cyprus',
 0.870090820750014: 'Czech Republic',
 0.4622219969496638: "Cรดte d'Ivoire",
 0.9233279260476809: 'Denmark',
 0.4704427354440824: 'Djibouti',
 0.7237883085272547: 'Dominica',
 0.7150284720996904: 'Dominican Republic',
 0.731674443061735: 'Ecuador',
 0.6899486552247134: 'Egypt',
 0.6657842884969639: 'El Salvador',
 0.5865608609459697: 'Equatorial Guinea',
 0.3908990233355299: 'Eritrea',
 0.8608350153508769: 'Estonia',
 0.44181595438422666: 'Ethiopia',
 0.7271357744759259: 'Fiji',
 0.8827277868254947: 'Finland',
 0.8881074365225967: 'France',
 0.683512931952251: 'Gabon',
 0.44064949738774817: 'Gambia',
 0.7541186410596197: 'Georgia',
 0.9160799076988912: 'Germany',
 0.5790902866810723: 'Ghana',
 0.8651871808057198: 'Greece',
 0.74999317959942: 'Grenada',
 0.6272087878897584: 'Guatemala',
 0.41128162740383645: 'Guinea',
 0.4196050696629739: 'Guinea-Bissau',
 0.6357157492900173: 'Guyana',
 0.483373299262551: 'Haiti',
 0.6060546075607552: 'Honduras',
 0.9099518695853507: 'Hong Kong, China (SAR)',
 0.8283504531899147: 'Hungary',
 0.8994121268420212: 'Iceland',
 0.608692726635813: 'India',
 0.6837595592917539: 'Indonesia',
 0.7655907110271143: 'Iran (Islamic Republic of)',
 0.6538608389960623: 'Iraq',
 0.9155415619842028: 'Ireland',
 0.8942729806362472: 'Israel',
 0.8730229841026993: 'Italy',
 0.7185296019205886: 'Jamaica',
 0.8905932125898717: 'Japan',
 0.7483285418755647: 'Jordan',
 0.7879824521623269: 'Kazakhstan',
 0.5484092847524838: 'Kenya',
 0.5902369574127955: 'Kiribati',
 0.8983341349460695: 'Korea (Republic of)',
 0.8162717675773424: 'Kuwait',
 0.655273514725433: 'Kyrgyzstan',
 0.5750448914815204: "Lao People's Democratic Republic",
 0.818766009538997: 'Latvia',
 0.7688978372793649: 'Lebanon',
 0.4965321486902622: 'Lesotho',
 0.42969510900183755: 'Liberia',
 0.724464011013942: 'Libya',
 0.9075011903527319: 'Liechtenstein',
 0.8394218831284335: 'Lithuania',
 0.8918516266686352: 'Luxembourg',
 0.5098655790192131: 'Madagascar',
 0.4454155645140969: 'Malawi',
 0.779245823894088: 'Malaysia',
 0.706365291698594: 'Maldives',
 0.41928883598566863: 'Mali',
 0.8389783400890511: 'Malta',
 0.5058672082801434: 'Mauritania',
 0.776552444424174: 'Mauritius',
 0.756207911551713: 'Mexico',
 0.6395901687817034: 'Micronesia (Federated States of)',
 0.6933026905702745: 'Moldova (Republic of)',
 0.7266205888366064: 'Mongolia',
 0.8022010068097933: 'Montenegro',
 0.6279536615673075: 'Morocco',
 0.4164275611728894: 'Mozambique',
 0.5355606776211936: 'Myanmar',
 0.6276163076706627: 'Namibia',
 0.5475365249360566: 'Nepal',
 0.9217935118651915: 'Netherlands',
 0.9134976556492512: 'New Zealand',
 0.6314321337313953: 'Nicaragua',
 0.34825438930134534: 'Niger',
 0.5140240014216384: 'Nigeria',
 0.9438772800225897: 'Norway',
 0.793019477069215: 'Oman',
 0.5383817618786106: 'Pakistan',
 0.780181064654573: 'Palau',
 0.6774926087215961: 'Palestine, State of',
 0.7796775970898157: 'Panama',
 0.5052593621041408: 'Papua New Guinea',
 0.6791643556328606: 'Paraguay',
 0.7342031291042979: 'Peru',
 0.6682183455842026: 'Philippines',
 0.8426778279109927: 'Poland',
 0.8300952967739501: 'Portugal',
 0.849768364568487: 'Qatar',
 0.7927974199615847: 'Romania',
 0.7978702008576151: 'Russian Federation',
 0.4832405236855432: 'Rwanda',
 0.751862282032841: 'Saint Kitts and Nevis',
 0.72905644949465: 'Saint Lucia',
 0.7200353883827711: 'Saint Vincent and the Grenadines',
 0.7020939448157218: 'Samoa',
 0.5550039089883821: 'Sao Tome and Principe',
 0.8372739772558938: 'Saudi Arabia',
 0.46588912688093614: 'Senegal',
 0.7711497774719756: 'Serbia',
 0.7724593674663386: 'Seychelles',
 0.4127794265541796: 'Sierra Leone',
 0.9117978200085737: 'Singapore',
 0.8435721190938259: 'Slovakia',
 0.8802808403501835: 'Slovenia',
 0.5056374171744534: 'Solomon Islands',
 0.6658793943164153: 'South Africa',
 0.4666988637444834: 'South Sudan',
 0.8761243074334387: 'Spain',
 0.7566589109483568: 'Sri Lanka',
 0.4791131196070519: 'Sudan',
 0.7142861522129998: 'Suriname',
 0.530633150455283: 'Swaziland',
 0.9068164601566341: 'Sweden',
 0.9296131398867122: 'Switzerland',
 0.593720561402457: 'Syrian Arab Republic',
 0.6244555049477675: 'Tajikistan',
 0.5212143559546271: 'Tanzania (United Republic of)',
 0.7258361392314778: 'Thailand',
 0.7472528599365661: 'The former Yugoslav Republic of Macedonia',
 0.5947610790635887: 'Timor-Leste',
 0.4835375488075486: 'Togo',
 0.7170407287872379: 'Tonga',
 0.7718938192406458: 'Trinidad and Tobago',
 0.7211911321013547: 'Tunisia',
 0.7611202934414504: 'Turkey',
 0.687520517135472: 'Turkmenistan',
 0.48267209055669: 'Uganda',
 0.747005221412579: 'Ukraine',
 0.8354690397730732: 'United Arab Emirates',
 0.9066981917363116: 'United Kingdom',
 0.9149593539597775: 'United States',
 0.7927629768549432: 'Uruguay',
 0.6754661172669666: 'Uzbekistan',
 0.5938712052455963: 'Vanuatu',
 0.7622524002965245: 'Venezuela (Bolivarian Republic of)',
 0.6657173502165511: 'Viet Nam',
 0.4981102501823533: 'Yemen',
 0.5855098632618322: 'Zambia',
 0.5087473855758319: 'Zimbabwe'}